- content_for(:page_header, @game.name)
= render({partial: 'rounds/partials/dashboard', locals: {round: @round}})

.col-lg-12
  %div{style: 'margin-bottom: 20px;'}
    - if @round.in_progress? or (@round.minimality? or @round.golden?)
      = link_to('Set scores', proceed_scores_game_round_path(@game, @round), class: 'btn btn-info') if can?(:proceed_scores, @round)
    - elsif @round.betting? and not(@round.minimality? or @round.golden?)
      = link_to('Place bids', betting_game_round_path(@game, @game.current_round), class: 'btn btn-info') if can?(:betting, @round)
    - if @round.tricks_counted?
      = link_to('Continue', current_round_game_path(@game), class: 'btn btn-info') unless @game.finished?

= render(partial: 'games/partials/results_table', locals: {game: @game, round: @round})