- scores = {}
- players ||= game.players.freeze

.col-lg-12
  %section.panel.panel-default
    -#%header.panel-heading Game results
    .table-responsive
      %table.table.table-striped.b-t.b-light
        %thead
          %tr
            %th{width: 50} #
            - players.each do |player|
              - scores[player.name] = 0
              %th{width: 50} B
              %th{class: "#{game.current_round.dealer == player ? 'text-black' : ''}"}= player.name
        %tbody
          - game.rounds.includes([:bids, :scores]).each do |round|
            %tr{class: "#{round == game.current_round ? 'text-black' : ''}"}
              %th= round_format_letter(round)
              - players.each do |player|
                - scores[player.name] += round.trick_score(player).to_i
                -#%td= [round.ordered(player), "(#{round.trick(player)})"].join(' ') if round.tricks_counted?
                -#%td= [round.ordered(player), (round.dark_for?(player) ? 'd' : '')].join('')
                %td= round.ordered(player)
                %td= scores[player.name] if round.tricks_counted?
